.auth-form{
    min-height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

h1.auth-header {
    text-align: center;
}
button {
    width: 100%;
}