ul.task-list {
    padding: 0;
}

div.task {
    background-color: rgb(248, 248, 248);
    list-style: none;
    display: inline-block;
}

div.task li {
    padding: 40px;
}

.button-container {
    margin-top: 40px;
}

.button-container a {
    width: 100%;
    margin-right: 10px;
    display: block;
}


.button-container a button{
    display: block;
    width: 100%;
}