ul.task-list {
    padding: 0;
}

div.task {
    background-color: rgb(212, 211, 211);
    list-style: none;
    display: inline-block;
    margin: 20px;
}

div.task li {
    padding: 40px;
    
}

.button-container {
    margin-top: 40px;
}

.button-container a {
    width: 100%;
    margin-right: 10px;
    display: block;
}


.button-container a button{
    display: block;
    width: 100%;
}

.check-container {
    flex-wrap: wrap;
}

.description, .check-container {
    margin-bottom: 40px;
}

.check-container {
    flex-wrap: wrap;
}

.categories-list span {
    background-color: #333;
    border-radius: 25px;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    word-wrap: break-word;

}

task delete confirmation only visible when you delete a task
div.fade.alert.alert-success.show {
    padding: 0;
}

.task-message-visible {
    display: block
}