ul.task-list {
    padding: 0;
}

div.task {
    padding: 20px 40px 20px 0;
}

div.task {
    background-color: #f2f2f2;
    list-style: none;
    display: inline-block;
}

.button-container a {
    width: 100%;
    margin-right: 10px;
    display: block;
}


.button-container a button{
    display: block;
    width: 100%;
}