nav.navbar.bg-dark {
  height: 70px;
  width: 100%;
  background: #333; 
}

nav.navbar.bg-dark a, nav.navbar.bg-dark p {
    color: #fff;
    align-items: center;
    margin-bottom: 0;
}

nav > .main-container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: left;

}

nav > .main-container a {
    display: block;

}

p#welcome {
    font-size: 16px;
}