@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
}

.main-container {
max-width: 1200px;
margin: auto;
padding: 40px;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

button {
  height: 50px;
}

